<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Department Form</h1>
<form action="#" th:object="${department}" th:action="@{/dept/save}" method="post" >
		<fieldset>
		<input type="hidden" th:field="*{id}">  
		</fieldset>
		<fieldset>
			Department Name: <input type="text" th:field="*{name}">
			<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
		</fieldset>
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset">Reset</button>
		</fieldset>
		
	</form>
</body>
</html>