<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
</head>
<body>

	<header class="ScriptHeader">
		<div class="rt-container">
			<div class="col-rt-12">
				<div class="rt-heading">
					<h1>Pure CSS Menu Example</h1>
					<p>A pure CSS responsive menu with hamburger icon.</p>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="rt-container">
			<div class="col-rt-12">
				<div class="Scriptcontent">

					<!-- Start Menu HTML -->
					<div class='wrapper'>

						<input data-function='swipe' id='swipe' type='checkbox'> <label
							data-function='swipe' for='swipe'>&#xf0c9;</label>

						<div class='content'>
							<h2>Toggle the Menu</h2>
							<p>Click on hamburger icon to toggle the menu.</p>
						</div>

						<div class='sidebar'>
							<nav class='menu'>
								<li><a href='#'>Home</a></li>
								<li class='active'><a href='#'>About</a></li>
								<li><a href='#'>Contact</a></li>
								<li><a href='#'>News</a></li>
								<li><a href='#'>Blog</a></li>
							</nav>
						</div>

					</div>
					<!-- End Menu HTML -->


				</div>
			</div>
		</div>
	</section>


</body>
</html>