<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring MVC Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/style.css" th:href="@{/css/style.css}" />
<title th:utext="#{productform.title}">Product Form</title>
</head>
<body>
	<h1 th:utext="#{productform.page.title}">Product Form</h1>
	<form action="#" th:object="${product}" th:action="@{/product/save}" method="get">
		<fieldset>
		<input type="hidden" th:field="*{id}">  
		</fieldset>
		<fieldset>
			Name: <input type="text" th:field="*{name}">
		</fieldset>
		<fieldset>
			Brand: <input type="text" th:field="*{brand}">
		</fieldset>
		<fieldset>
			Description: <input type="text" th:field="*{description}">
		</fieldset>
		
		<fieldset>
			Price: <input type="text" th:field="*{price}">
		</fieldset>
		<fieldset>
			Date of Manufacture: <input type="text" th:field="*{dom}" placeholder="dd-MM-yyyy"
              th:text="${#dates.format(product.dom, 'dd-MM-yyyy')}"/>
		</fieldset>
		<fieldset>
			<button type="submit" >Save</button>
		</fieldset>
	</form>
	
</body>
</html>